body {
  background: #1d6582;
  background: linear-gradient(0deg,rgba(29, 101, 130, 1) 0%, rgba(33, 131, 173, 1) 32%, rgba(23, 187, 232, 1) 70%, rgba(8, 243, 255, 1) 100%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#popup_window {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  backgroundColor: #fffff;
  border: 1px solid #ccc;
  boxShadow: 0 0 10px rgba(0,0,0,0.3);
}